## 스크립트에서 사용한 모듈들 
streamlit
numpy
pandas
google-cloud-firestore
html5lib
ipython==7.9.0
ipython-genutils==0.2.0
ipython-sql==0.3.9

git+https://git@github.com/SKTBrain/KoBERT.git@47a69af87928fc24e20f571fe10c3cc9dd9af9a3

torch==1.13.1
torchsummary==1.5.1
torchtext==0.14.1
#https://download.pytorch.org/whl/cu116/torchvision-0.14.1%2Bcu116-cp38-cp38-linux_x86_64.whl
gluonnlp==0.10.0